.gitlabel,
.gitlabel_awp,
.gitlabel_agile,
.gitlabel_autoinstall,
.gitlabel_blocked,
.gitlabel_inprogress,
.gitlabel_puppet,
.gitlabel_ready,
.gitlabel_todo {
  color: white;
  /* Enormous radius gives desired pill-shape, see
   * https://stackoverflow.com/questions/18794947/capsule-shape-using-border-radius-without-a-set-width-or-height */
  border-radius: 500px;
  padding: 0px 10px 5px 10px;
  width: fit-content;
}

.gitlabel_awp  { background-color: #EEE600 }
.gitlabel_agile { background-color: #00747F }
.gitlabel_autoinstall { background-color: #9400D3 }
.gitlabel_blocked { background-color: #FF0000 }
.gitlabel_cicd { background-color: #6699CC }
.gitlabel_cmdb { background-color: #CC338B }
.gitlabel_inprogress { background-color: #00B140 }
.gitlabel_puppet  { background-color: #0000FF }
.gitlabel_ready { background-color: #3cb371 }
.gitlabel_todo { background-color: orange }
